:root {
  --primary: #38f8ae;
  --bg: #1c7271;
  --card-bg: #10585a;
  --accent: #f59e0b;
  --success: #10b981;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: var(--bg);
  color: white;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  border: 1px solid #335355;
}

.shadow { box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3); }

.user-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

#userAvatar { width: 40px; height: 40px; border-radius: 50%; border: 2px solid var(--primary); }

textarea {
  width: 100%;
  height: 90px;
  background: #0f2a2a;
  color: rgb(255, 255, 255);
  border: 1px solid #41536b;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  width: 100%;
  background: var(--primary);
  color: #0f172a;
  font-weight: 800;
  padding: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s;
}

button:active { transform: scale(0.98); }

#logoutBtn { background: transparent; color: #21ffcf; width: auto; font-size: 0.8rem; }

.goal-card {
  background: var(--card-bg);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 450px;
  border-left: 5px solid var(--primary);
}

.proof-img {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
  border: 2px solid var(--success);
}

.vote-btn {
  background: var(--accent);
  width: auto;
  padding: 8px 20px;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.time-info { color: #94a3b8; font-size: 0.85rem; }
.badge { background: #334155; padding: 4px 10px; border-radius: 20px; font-size: 0.8rem; }